@use "sass:math";
@import 'functions';

@mixin calculateResponsiveProperty($startBreakPoint, $endBreakPoint, $startValue, $finishValue, $property ){
	@media (min-width: $startBreakPoint){
		#{$property}: calculateResponsiveValue( $startBreakPoint, $endBreakPoint, $startValue, $finishValue );
		
	}
	@media (min-width: $endBreakPoint){
		#{$property}: $finishValue;
	}
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	--primary: #ff551f;
	--primary-hover: #ff3d00;
	--blue: #2cafc3;
	--blue-hover: #2591A2;
	--gray: #b3b3b3;
	--dark: #333;
	--light-orange: #fdf5f3;
}

a{
	text-decoration: none;
}

button{
	cursor: pointer;
}

button, textarea, input{
	background: transparent;
	border: none;
	outline: none;
}
textarea, input{
	width: 100%;
}
a, textarea, input, button{
	transition: ease-in 300ms;
	font-family: inherit;
	outline: none;
}
a, textarea, input, button{
	font-family: var(--font-family);
}

textarea{
	resize: none;
}

ul{
	list-style: none;
}

address{
	font-style: normal;
}

html{
	
	font-family: 'DIN Pro';
}
body{
	display: flex;
	flex-direction: column;	
	min-height: 100vh;
	
}

body.no-scroll{
	overflow: hidden;
}
main{
	flex-grow: 1;

	padding-top: 40px;

	display: flex;
	flex-direction: column;
	row-gap: 40px;
	
	@include calculateResponsiveProperty(768px, 1140px, 40px, 80px, row-gap);

	max-width: 100%;
	overflow: hidden;
}

.container{
	width: 100%;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

.section{
	padding-left: 16px;
	padding-right: 16px;
}

.row.row-margin-0{
	& > * {
		margin-top: 0;
	}
}

.inner-content-col{
	display: flex;
    flex-direction: column;
    row-gap: 40px;
    @include calculateResponsiveProperty(768px, 1140px, 40px, 60px, row-gap);
}


.block{
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.flex-images {
	margin-left: -10px;
	width: calc(100% + 20px);

	@media (max-width: 1024px){
		overflow: auto;
		.item{
			width: auto;
		}
		display: flex;
		flex-direction: row;
		column-gap: 20px;
		
		padding: 10px 10px 16px;
		margin-left: -10px;
		
	}
}
.flex-images .item{
	margin: 10px;
	position: relative;
	overflow: hidden;
	

	border: 4px solid white;
	box-shadow: 4px 4px 10px #aaaaaa;
	@media (max-width: 1024px){
		width: auto !important;
		
		float: none;
		margin: 0;
		flex-shrink: 0;
		min-height: 100%;
		height: 230px !important;
		height: auto;
	}

	img{
		cursor: pointer;
		width: 100%;
		height: 100%;
		max-width: 100%;
		max-height: 100%;
		object-fit: cover;
		
		object-fit: cover;
		object-position: center;
		position: absolute;
		
		transition: ease .5s;

		@media (max-width: 1024px){
			position: static;
		}
	}

	&:hover{
		img{
			transform:  scale(1.05)
		}
	}

	
}



.sl-gallery{
	width: 100%;
}
.sl-gallery__inner{
	max-width: 100%;
	overflow: hidden;
	max-height: 200px;
	img{
		visibility: hidden;

	}
}

.sl-gallery__item{
	border: 4px solid white;
		box-shadow: 4px 4px 10px #aaaaaa;
}

.sl-gallery.active{
	padding: 10px 10px 20px;
	margin-left: -10px;
	width: calc(100% + 20px);
	.sl-gallery__inner{
		overflow: visible;
		max-height: unset;
		display: flex;
		column-gap: 20px;

		
	}

	.sl-gallery__item{
		overflow: hidden;

		&:hover{
			img{
				transform: scale(1.05);
			}
		}
	}

	img{
		visibility: visible;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;

		transition: 500ms ease;
		
	}

	@media (max-width: 1024px){
		overflow-x: auto;
		

		
		.sl-gallery__inner{

		}
		.sl-gallery__item{
			width: max-content !important;
			flex-shrink: 0;
		}

		img{
			width: auto ;
		}
	}
	
}

@import 'units/header';
@import 'units/menu';
@import 'units/footer';
@import 'units/typography';
@import 'units/partners-slider';
@import 'units/bs-col';
@import 'units/offsets';
@import 'units/advantage-block';
@import 'units/company-advantages';
@import 'units/t-banners-list';
@import 'units/about-section';
@import 'units/modals';
@import 'units/mobile-messangers';
@import 'units/entry-group';
@import 'units/eg-form';
@import 'units/our-works';
@import 'units/ui';
@import 'units/video-block';
@import 'units/qoute';
@import 'units/description-product';
@import 'units/use-materials';

@import 'units/gm-block';
@import 'units/mc';


@import 'vav-css';