.description-product{
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    @media (min-width: 768px){
        row-gap: 20px;
    }
}

.description-product__mob-title-block{
    @media (min-width: 992px){
        display: none;
    }
}
.dp-slider-block{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    @media (min-width: 992px){
        flex-direction: row;
        column-gap: 30px;
    }
}
.dp-slider-block__slider.swiper{
    width: 100%;
    overflow: visible;

    @media (min-width: 992px){
        width: calc(41.5% - 15px);
        overflow: hidden;

        box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.25);
    }


    .swiper-slide{
        border: 5px solid #fff;
        border-radius: 4px;
        aspect-ratio: 5 / 4;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.25);

        @media (min-width: 992px){
            box-shadow: none;
            aspect-ratio: 100 / 72;
        }
        img{
            position: relative;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}
.dp-slider-block__slider-pagination{
    display: none;

    @media (min-width: 992px){
        display: flex;
        position: absolute;
        z-index: 10;
        justify-content: center;
        bottom: 25px !important;
        left: 0;
        width: 100%;
        column-gap: 12px;
        row-gap: 6px;
        flex-wrap: wrap;
    }

    .swiper-pagination-bullet{
        margin: 0 !important;
        display: inline-block;
        width: 12px;
        height: 12px;
        background-color: #ff551f;
        opacity: 1;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: calc(100% + 4px);
            height: calc(100% + 4px);
            border: 1px solid #ff551f;
            border-radius: 50%;
            transform: translate(-50%, -50%) scale(0);
            transition: 300ms ease;
        }
    }
    .swiper-pagination-bullet.swiper-pagination-bullet-active{
        &::before{
            transform: translate(-50%, -50%) scale(1);
        }
    }
}
.dp-slider-block__text-block{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    @media (min-width: 992px){
        width: calc(58.5% - 15px);
    }
    



}

.description-product__desk-title-block{
    display: none;

    @media (min-width: 992px){
        display: block;
    }
}

.dp-slider-block__desk-price-block{
    display: none;

    @media (min-width: 992px){
        display: flex;
        margin-top: auto;
    }
}

.dp-price-block{
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 8px;
    @media (min-width: 480px){
        align-items: flex-end;
    }
}

.dp-price-block__price{
    
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    color: #ff551f;
    padding: 0px 16px;

    @media (min-width: 480px){
        order: 2;
    }

    @media (min-width: 992px){
        font-size: 20px;
    }
}

.description-product__mob-price-block{
    @media (min-width: 992px){
        display: none;
    }
}
.dp-table-container{
    padding: 12px 0;
    position: relative;




    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 100vw;
        height: 100%;
        background: #fdf5f3;
        z-index: -1;
        transform: translate(-50%, 0);

        @media (min-width: 768px){
            width: 100%;
            border-radius: 4px;
        }
    }
    @media (min-width: 768px){
        
        padding: 20px 16px;        
    }
    
    
}

.dserv-table-container{
   
    position: relative;    




    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 100vw;
        height: 100%;
        background: #f2f1f7;
        z-index: -1;
        transform: translate(-50%, 0);

        @media (min-width: 768px){
            width: 100%;
            border-radius: 4px;
        }
    }
    
    
    
}
.dserv-table-container__inner{
    overflow-x: auto;
    padding: 12px 0;
    @media (min-width: 768px){
        
        padding: 20px 16px;        
    }
}

.dp-table{
    border-collapse: collapse;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #333;

    
    tr {
        border: none; /* Убираем все границы */
        vertical-align: text-top;

        &:not(:first-of-type){
            td{
                padding-top: 8px;
                @media (min-width: 992px){
                    padding-top: 5px;
                }
            }
        }

        &:last-of-type{
            td{
                border-bottom: none;
            }
        }
    }
    
        
    td{
        padding-bottom: 8px;
        border-bottom: 1px solid #dbd2d5;
    }

    td:first-of-type{
        width: 50%;
        font-weight: 600;
        padding-right: 10px;

        @media (min-width: 992px){
            width: 35%;
        }
    }
    td:last-of-type{
        width: 50%;
        padding-left: 10px;
        @media (min-width: 992px){
            width: 65%;
        }
    }
}


.dserv-table{
    border-collapse: collapse;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    min-width: 800px;
    color: #333;
    tr {
        border: none; /* Убираем все границы */
        vertical-align: text-top;

        &:not(:first-of-type){
            td{
                padding-top: 8px;
                @media (min-width: 992px){
                    padding-top: 5px;
                }
            }
        }

        &:last-of-type{
            td{
                border-bottom: none;
            }
        }
    }
    
        
    td{
        padding-bottom: 8px;
        border-bottom: 1px solid #dbd2d5;

        
    }

    td:nth-of-type(1){
        width: 33%;
        font-weight: 600;
        padding-right: 10px;

        @media (min-width: 992px){
            width: 40%;
        }
    }
    td:nth-of-type(2){
        width: 33%;
        padding-left: 10px;
        padding-right: 10px;
        @media (min-width: 992px){
            width: 30%;
        }
    }

    td:nth-of-type(3){
        width: 33%;
        text-align: right;
        padding-left: 10px;
        padding-right: 10px;
        @media (min-width: 992px){
            width: 30%;
        }
    }
}


.row.dt-row{
    --bs-gutter-y: 16px;
    @media (min-width: 1024px) {
        .row {
          --bs-gutter-x: 24px;
        }
      }
}