.eg-form{
    position: relative;
    &::before{
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         width: calc(100% - 32px);
         height: calc(100% - 50px);
         z-index: -1;
         background: #fdf5f3;

    }


    @media (max-width: 1024px){
        display: none;
    }
}
.eg-form__text-block{
    
}

.eg-form__title-block{
    padding: 24px 32px 5px;
    border-bottom: 5px solid var(--primary);
    width: calc(100% - 32px);
}

.eg-form__text-block{
    padding: 24px 64px 36px 32px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    
}

.page-form{
    padding: 24px 32px 32px;
    background: #2cafc3;
    margin-left: 32px;
}

.page-form__title-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 32px;

    margin-bottom: 20px;
}

.page-form__text-sm{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #fff;

}

.page-form__field-group{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 12px;
    .btn{
        padding-left: 12px;
        padding-right: 12px;
        width: 100%;

        border-radius: 0;
    }
    .file-wrap__label{
        border-radius: 0;
    }
    .modal-form__field{
        border-radius: 0;
    }

    @media (min-width: 560px) {
        .file-wrap, .textarea-wrap {
          grid-column: unset;
        }
      }
}