.section.s-our-works{
    padding-left: 0;
    padding-right: 0;
}
.ow-gallery{
    width: 100%;
    padding: 4px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4px;
    background: #fdf5f3;

    border-top: 2px solid var(--primary);

    padding-bottom: 40px;
    

    @media (min-width: 768px){
        padding: 12px;
        grid-gap: 12px;
        grid-template-columns: repeat(3, 1fr);
    }
    @include calculateResponsiveProperty(768px, 1140px, 40px, 70px, padding-bottom);
}

.ow-gallery__photo{
    aspect-ratio: 100 / 56.25;
    position: relative;
    overflow: hidden;
    border-radius: 4px;

    img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        left: 50%;
        top: 50%;
        object-position: center;
        transition: 500ms ease;

        transform: translate(-50%, -50%);
    }
    &:hover{
        img{
            transform: translate(-50%, -50%) scale(1.1);
        }
    }
}

.ow-gallery__btn-block{
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;

    margin-top: 24px;

    .btn{
        width: auto;
    }
}

