.partners{
    img{
        margin-right: 20px;
        height: 40px;
        @media (min-width: 1024px){
            height: 70px;
            margin-right: 40px;
        }
        width: auto;
    }
    
}

.header-partners{
    
    margin-top: 32px;
    @media (min-width: 576px){
        display: block;
    }
}