.sl-gallery{
	width: 100%;
}
.sl-gallery__inner{
	max-width: 100%;
	overflow: hidden;
	max-height: 200px;
	img{
		visibility: hidden;

	}
}

.sl-gallery__item{
	border: 4px solid white;
		box-shadow: 4px 4px 10px #aaaaaa;
}

.sl-gallery.active{
	padding: 10px 10px 20px;
	margin-left: -10px;
	width: calc(100% + 20px);
	.sl-gallery__inner{
		overflow: visible;
		max-height: unset;
		display: flex;
		column-gap: 20px;

		
	}

	.sl-gallery__item{
		overflow: hidden;

		&:hover{
			img{
				transform: scale(1.05);
			}
		}
	}

	img{
		visibility: visible;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;

		transition: 500ms ease;
		
	}

	@media (max-width: 1024px){
		overflow-x: auto;
		

		
		.sl-gallery__inner{

		}
		.sl-gallery__item{
			width: max-content !important;
			
			flex-shrink: 0;
		}

		img{
			width: auto ;
			max-width: calc(100vw - 16px);
		}
	}
	
}